
@model Brand

<h3>
    Show the most expensive laptop's brand.
</h3>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.BrandName</h5>
        <h6 class="card-subtitle mb-2 text-muted">Brand name</h6>
    </div>
</div>