
@model List<string>

<h3>
    Show all the laptop brand's name
</h3>

<div>
    @foreach(var name in Model)
    {
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Brand name</h6>
        </div>
    </div>
    }
</div>
