
@model Laptop

<h3>
    Show most expensive laptop
</h3>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.Brand.BrandName</h5>
        <h6 class="card-subtitle mb-2 text-muted">Brand name</h6>
        <p class="card-text">Laptop Id: @Model.Id, Price: @Model.Price$.</p>
    </div>
</div>